<!DOCTYPE html>
<!--PPP Mode: Ivan Mijacika, Qina Liu, Justin Morrill, Noakai Aronesty-->
<!--SoftDev pd2-->
<!--P02 -- Snake++-->

<html>
{% extends "base.html" %}
{% block title %} This is snake yay!!? {% endblock %}

{% block css %}
{% endblock %}

{% block body %}

<body>
    <div class="container pt-5 pb-3 rounded">
        <div class="row row-cols-auto">
            <div class="col my-auto">
                <h1 class="fw-light display-4" id="title" style="display:inline-block; margin-right:5px">Snake++</h1>
                <br>
                {% if session['username'] %}
                <h5 class="fw-light ms-1" style="display:inline-block;">| current user:
                    {{session['username']}}</h5>
                {% else %}
                <h5 class="fw-light ms-1 text-white" style="display:inline-block;">.</h5>
                {% endif %}
            </div>
            <div class="col">
                <div class="container my-2 mt-3">
                    <form action="/discover" method='GET'>
                        <button type="submit" class="btn btn-success" formaction="/leaderboard">Leaderboard</button>
                    </form>
                </div>
                <div class="container my-2">
                    {% if session['username'] %}
                    <form action="/logout" method='GET'>
                        <button type="submit" class="btn btn-danger" formaction="/logout">Logout</button>
                    </form>
                    {% else %}
                    <form action="/login" method='GET'>
                        <button type="submit" class="btn btn-info" formaction="/login">Login</button>
                    </form>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <button type="button" class="btn btn-outline-primary btn-lg" href="/play">Play!</button>
    </div>
</body>
{% endblock %}

</html>