<!DOCTYPE html>
<!--PPP Mode: Ivan Mijacika, Qina Liu, Justin Morrill, Noakai Aronesty-->
<!--SoftDev pd2-->
<!--P02 -- Snake++-->

{% extends "base.html" %}
{% block title %} Leaderboard {% endblock %}

{% block css %}
{% endblock %}

{% block body %}

<body class="text-center">

	<div class="container mt-3 rounded">
			<div class="row row-cols-auto">
					<div class="col my-auto">
							<h1 class="fw-light display-4 ms-5" id="title" style="display:inline-block">Snake++</h1>
							<br>
							{% if session['username'] %}
									<h5 class="fw-light ms-5" style="display:inline-block;">| current
									user: {{session['username']}}</h5>
							{% else %}
									<h5 class="fw-light ms-1 text-white" style="display:inline-block;">.</h5>
							{% endif %}
					</div>
					<div class="col">
							<div class="container my-2 mt-4">
									<form action="/discover" method='GET'>
											<button type="submit" class="btn btn-info" formaction="/home">Back Home</button>
									</form>
							</div>
					</div>
			</div>
	</div>

	<div class="container mt-5">
		<h1 id="title" class="fw-light display-6">Leaderboard</h1>
	</div>
	<div class="container w-35"> <!--play around with sizes-->

			<table class="table">
			  		<thead>
			    			<tr>
			      				<th scope="col">#</th>
			      				<th scope="col">Username</th>
			      				<th scope="col">Score</th>
			    			</tr>
			  		</thead>
			  		<tbody>
			    			<tr class="table-warning">
			      				<th scope="row">1</th>
			      				<td>Joe</td>
			      				<td>1,000,000</td>  <!--NEED TO MAKE THIS A TEMPLATE SOON-->
			    			</tr>
					    	<tr class="table-secondary">
					      		<th scope="row">2</th>
					      		<td>Mama</td>
					      		<td>999,999</td>
					    	</tr>
					    	<tr>
					      		<th scope="row">3</th>
					      		<td>Timmy</td>
					      		<td>1</td>
					    	</tr>
					    	<tr>
					      		<th scope="row">4</th>
					      		<td>???</td>
					      		<td>???</td>
					    	</tr>
					    	<tr>
					      		<th scope="row">5</th>
					      		<td>???</td>
			      				<td>???</td>
		    				</tr>
		  			</tbody>
				</table>

		</div>
</body>

{% endblock %}
