<!DOCTYPE html>
<!--PPP Mode: Ivan Mijacika, Qina Liu, Justin Morrill, Noakai Aronesty-->
<!--SoftDev pd2-->
<!--P02 -- Snake++-->

{% extends "base.html" %}
{% block title %} Leaderboard {% endblock %}

{% block css %}
{% endblock %}

{% block body %}

<body class="text-center">

	<div class="container mt-5 mb-3 rounded text-start">
		<div class="row row-cols-auto">
			<div class="col my-auto">
				<h1 class="fw-light display-4" id="title" style="display:inline-block; margin-right:5px">Snake++</h1>
				<br>
				{% if session['username'] %}
				<h5 class="fw-light ms-1" style="display:inline-block;">| current user:
					{{session['username']}}</h5>
				{% else %}
				<h5 class="fw-light ms-1 text-white" style="display:inline-block;">.</h5>
				{% endif %}
			</div>
			<div class="col">
				<div class="container my-1 mt-4">
					<form action="/discover" method='GET'>
						<button type="submit" class="btn btn-info" formaction="/home">Back Home</button>
					</form>
				</div>
				<div class="container my-1">
					{% if session['username'] %}
					<form action="/logout" method='GET'>
						<button type="submit" class="btn btn-danger" formaction="/logout">Logout</button>
					</form>
					{% else %}
					<form action="/login" method='GET'>
						<button type="submit" class="btn btn-primary" formaction="/login">Login</button>
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-1">
		<h1 id="title" class="fw-light display-6">Leaderboard</h1>
	</div>
	<br>

	<h5 class="fw-light">Mode:</h5>
	<form action="/leaderboard" class="dropdown mb-4">
		<select class="btn btn-secondary text-center dropdown-toggle" name="modes" id="modes">
			<option class='text-start' value="basic">Basic</option>
			<option class='text-start' value="obstacles">Obstacles</option>
			<option class='text-start' value="wrap">Border Wrap</option>
			<option class='text-start' value="flying">Flying</option>
			<option class='text-start' value="poison">Poison Apples</option>
		</select>
	</form>

	<div class="container w-35 bg-light rounded">
		<!--play around with sizes-->

		<table class="table" id="table">
			<thead>
				<tr>
					<th class="fw-normal" scope="col">#</th>
					<th class="fw-normal" scope="col">Username</th>
					<th class="fw-normal" scope="col">Score</th>
				</tr>
			</thead>
			<tbody>
				<tr style="background: #dfb83b">
					<th class="fw-normal" scope="row">1</th>
					<td>{{user0}}</td>
					<td>{{score0}}</td>
					<!--NEED TO MAKE THIS A TEMPLATE SOON-->
				</tr>
				<tr style="background: #bec2cb">
					<th class="fw-normal" scope="row">2</th>
					<td>{{user1}}</td>
					<td>{{score1}}</td>
				</tr>
				<tr style="background: #dd8e40">
					<th class="fw-normal" scope="row">3</th>
					<td>{{user2}}</td>
					<td>{{score2}}</td>
				</tr>
				<tr>
					<th class="fw-normal" scope="row">4</th>
					<td>{{user3}}</td>
					<td>{{score3}}</td>
				</tr>
				<tr>
					<th class="fw-normal" scope="row">5</th>
					<td>{{user4}}</td>
					<td>{{score4}}</td>
				</tr>
			</tbody>
		</table>

	</div>

	<script src="../static/js/leaderboard.js"></script>


</body>

{% endblock %}