<!DOCTYPE html>
<!--PPP Mode: Ivan Mijacika, Qina Liu, Justin Morrill, Noakai Aronesty-->
<!--SoftDev pd2-->
<!--P02 -- Snake++-->
<html>

{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block css %}
{% endblock %}

{% block body %}

<body class="text-center">

    <div class="container mt-5">
        <h1 class="fw-light display-5" id="title">Login</h1>
    </div>
    <div class="container">
        <form action="/auth" method="POST" class="">
            <h5 class="fw-normal"> Enter your username and password below</h5><br>
            <input class="btn-lg mb-2 rounded-pill" type="text" name="username" placeholder="Username"><br>
            <input class="btn-lg mb-2 rounded-pill" type="password" name="password" placeholder="Password"><br>
            <input class="btn-lg mb-2 rounded-pill mb-3" type="submit" name="sub1" value="Login">
        </form>
    </div>
    <h5 class="fw-normal" id=""> New user? <a href="{{ url_for('register') }}" class="link-info">Create an account.</a></h5>
    {% if input == "bad_user" %}
    <div class="container-fluid px-5">
        <div class="alert-danger alert text-center marginy py-2" role="alert">
            Username not found.
        </div>
    </div>
    {% elif input == "success" %}
    <div class="container-fluid px-5">
        <div class="alert-success alert text-center marginy py-2" role="alert">
            Registration successful! Please login.
        </div>
    </div>
    {% elif input == "bad_pass" %}
    <div class="container-fluid px-5">
        <div class="alert-danger alert text-center marginy py-2" role="alert">
            Password incorrect.
        </div>
    </div>
    {% endif %}

    <form action="/" method='GET'>
        <button style="display: block;margin-right: auto;margin-left: auto;" type="submit" class="btn btn-info"
                formaction="/">Back Home
        </button>
    </form>

</body>
{% endblock %}

</html>