<!DOCTYPE html>
<!--PPP Mode: Ivan Mijacika, Qina Liu, Justin Morrill, Noakai Aronesty-->
<!--SoftDev pd2 -->
<!--P02 -- Snake++-->

{% extends "base.html" %}
{% block title %} SUP {% endblock %}

{% block css %}

{% endblock %}

{% block body %}

<body>
    <div class="container mt-3 rounded">
        <div class="row row-cols-auto">
            <div class="col my-auto">
                <h1 class="fw-light display-4 ms-5" id="title" style="display:inline-block">Snake++</h1>
                <br>
                {% if session['username'] %}
                <h5 class="fw-light ms-5" id = "username">| current user:
                    {{session['username']}}</h5>
                {% else %}
                <h5 class="fw-light ms-1 text-white">.</h5>
                {% endif %}
            </div>
            <div class="col my-auto mb-0">
                <div class="container my-2 mt-4">
                    <form action="/home" method='GET'>
                        <button type="submit" class="btn btn-info mb-0" formaction="/home">Back Home</button>
                    </form>
                </div>
                <div class="container">
                    <form action="/play" method='GET'>
                        <button type="submit" class="btn btn-warning mb-0" formaction="/play">Restart</button>
                    </form>
                </div>
            </div>
            <div class="col mt-2 mb-0">
                <div class="container mt-4 rounded alert alert-primary py-3 px-4 pb-3 mb-2">
                    <h2 class="mb-1" id="score"></h2>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container mt-3 text-center">
        <canvas height="600" width="1200" id="slate">
            da ting go srrrrrrrap
        </canvas>
    </div>

    <script src="../static/js/snake.js"></script>

</body>


{% endblock %}
