<!DOCTYPE html>
<!--PPP Mode: Ivan Mijacika, Qina Liu, Justin Morrill, Noakai Aronesty-->
<!--SoftDev pd2-->
<!--P02 -- Snake++-->

<html>
{% extends "base.html" %}
{% block title %} Settings {% endblock %}

{% block css %}
{% endblock %}

{% block body %}

<body>
    <div class="container mt-3 rounded">
        <div class="row row-cols-auto">
            <div class="col my-auto">
                <h1 class="fw-light display-4 ms-5" id="title" style="display:inline-block">Snake++</h1>
                <br>
                {% if session['username'] %}
                    <h5 class="fw-light ms-5" style="display:inline-block;">| current
                    user: {{session['username']}}</h5>
                {% else %}
                    <h5 class="fw-light ms-1 text-white" style="display:inline-block;">.</h5>
                {% endif %}
            </div>
            <div class="col">
                <div class="container my-2 mt-4">
                    <form action="/discover" method='GET'>
                        <button type="submit" class="btn btn-info" formaction="/home">Back Home</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4 text-center">
        <h1 id="title" class="fw-light display-6">Change Your Settings</h1>
    </div>

    <!--Game Speed-->
    <div class="container mt-4 text-center">
        <h4>Speed:</h4>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gameSpeed" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Slow</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gameSpeed" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Medium</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gameSpeed" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">Fast</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gameSpeed" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">Insane!</label>
        </div>
    </div>

    <!--Map Size-->
    <div class="container mt-4 text-center">
        <h4>Map Size:</h4>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="mapSize" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Small</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="mapSize" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Medium</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="mapSize" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">Large</label>
        </div>
    </div>

    <!--Mode-->
    <div class="container mt-4 text-center">
        <h4>Mode:</h4>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gameMode" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Basic</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gameMode" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Obstacles</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gameMode" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">Border Wrap</label>
        </div>
        <br> <!--newline so two rows-->
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gameMode" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Peace</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gameMode" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Poison Apple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gameMode" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">Boss</label>
        </div>
    </div>

    <!--play button-->
    <div class="container mt-4 text-center">
        <form action="/play" method='GET'>
            <button type="submit" class="btn btn-outline-primary btn-lg" formaction="/play">Play!</button>
        </form>
    </div>

</body>

{% endblock %}

</html>
